rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Matches a single user document.
    // Users can read/write their own data.
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }
    
    // Matches diary posts subcollection.
    // Users can create, read, update, and delete their own posts.
    match /users/{userId}/posts/{postId} {
        allow create, read, update, delete: if isOwner(userId);
    }
  }
}
